In [1]:
import pandas as pd
import numpy as np


# Read the three files

math_data = pd.read_csv("F:\sreenu\Data Science\Python\Module-4 Dataset/MathScoreTerm1.csv")
ds_data = pd.read_csv("F:\sreenu\Data Science\Python\Module-4 Dataset/DSScoreTerm1.csv")
physics_data = pd.read_csv("F:\sreenu\Data Science\Python\Module-4 Dataset/PhysicsScoreTerm1.csv")

In [2]:
# Preview the first data set
print(math_data.head())

             Name  Score  Age         Ethinicity Subject Sex  ID
0  AI-KYUNG CHUNG   88.0   18     White American   Maths   M   1
1     ALAN HARVEY   85.0   19  European American   Maths   M   2
2    ALAN REYNAUD   45.0   19  European American   Maths   M   3
3  ALBERT CENDANA   82.0   18     White American   Maths   M   4
4  ALBERT HOLT JR   82.0   18     White American   Maths   F   5

In [3]:
#Remove Name and Ethinicty columns from each  data set
math_data = math_data.drop(['Name','Ethinicity'], axis=1)
print(math_data.head())

   Score  Age Subject Sex  ID
0   88.0   18   Maths   M   1
1   85.0   19   Maths   M   2
2   45.0   19   Maths   M   3
3   82.0   18   Maths   M   4
4   82.0   18   Maths   F   5

In [4]:
# print Summary of missing values in Term1 Data
print (math_data.isnull().sum())

Score      3
Age        0
Subject    0
Sex        0
ID         0
dtype: int64

In [5]:
# Fill Missing Scores with 0
math_data['Score'] = math_data['Score'].fillna(0)

In [6]:
# Check Again if values are filled correctly
print (math_data.isnull().sum())

Score      0
Age        0
Subject    0
Sex        0
ID         0
dtype: int64

In [7]:
# Do the same for DS and Physics

ds_data = ds_data.drop(['Name','Ethinicity'], axis=1)
ds_data['Score'] = ds_data['Score'].fillna(0)

physics_data = physics_data.drop(['Name','Ethinicity'], axis=1)
physics_data['Score'] = physics_data['Score'].fillna(0)

In [8]:
all_data =[math_data,ds_data,physics_data]

In [9]:
all_data

[     Score  Age Subject Sex   ID
 0     88.0   18   Maths   M    1
 1     85.0   19   Maths   M    2
 2     45.0   19   Maths   M    3
 3     82.0   18   Maths   M    4
 4     82.0   18   Maths   F    5
 5     95.0   20   Maths   M    6
 6     95.0   18   Maths   M    7
 7     65.0   19   Maths   M    8
 8     88.0   18   Maths   M    9
 9     88.0   19   Maths   F   10
 10    53.0   20   Maths   M   11
 11    53.0   20   Maths   M   12
 12    66.0   19   Maths   M   13
 13    88.0   18   Maths   M   14
 14    88.0   21   Maths   F   15
 15    82.0   20   Maths   M   16
 16    31.0   18   Maths   M   17
 17    95.0   18   Maths   M   18
 18    91.0   18   Maths   M   19
 19    66.0   18   Maths   F   20
 20    82.0   18   Maths   M   21
 21    66.0   18   Maths   M   22
 22    75.0   18   Maths   M   23
 23    65.0   19   Maths   M   24
 24    91.0   20   Maths   F   25
 25    91.0   18   Maths   M   26
 26    53.0   20   Maths   M   27
 27    91.0   20   Maths   M   28
 28    88.0   21   Maths   M   29
 29    85.0   19   Maths   F   30
 ..     ...  ...     ...  ..  ...
 569   65.0   19   Maths   F  570
 570   45.0   19   Maths   M  571
 571   82.0   20   Maths   M  572
 572   53.0   18   Maths   M  573
 573   85.0   18   Maths   M  574
 574   75.0   20   Maths   F  575
 575   85.0   21   Maths   M  576
 576   75.0   18   Maths   M  577
 577   85.0   19   Maths   M  578
 578   82.0   18   Maths   M  579
 579   65.0   21   Maths   F  580
 580   95.0   18   Maths   M  581
 581   91.0   20   Maths   M  582
 582   45.0   21   Maths   M  583
 583   95.0   18   Maths   M  584
 584   91.0   18   Maths   F  585
 585   53.0   20   Maths   M  586
 586   85.0   19   Maths   M  587
 587   45.0   18   Maths   M  588
 588   88.0   19   Maths   M  589
 589   82.0   20   Maths   F  590
 590   65.0   19   Maths   M  591
 591   88.0   19   Maths   M  592
 592   91.0   20   Maths   M  593
 593   88.0   19   Maths   M  594
 594   45.0   19   Maths   F  595
 595   75.0   18   Maths   M  596
 596   53.0   20   Maths   M  597
 597   75.0   20   Maths   M  598
 598   88.0   19   Maths   M  599

 [599 rows x 5 columns],      Score  Age        Subject Sex   ID
 0     82.0   18  Data Structue   M    1
 1     79.0   19  Data Structue   M    2
 2     39.0   19  Data Structue   M    3
 3     76.0   18  Data Structue   M    4
 4     76.0   18  Data Structue   F    5
 5     89.0   20  Data Structue   M    6
 6     89.0   18  Data Structue   M    7
 7     59.0   19  Data Structue   M    8
 8     82.0   18  Data Structue   M    9
 9     82.0   19  Data Structue   F   10
 10    47.0   20  Data Structue   M   11
 11    47.0   20  Data Structue   M   12
 12    60.0   19  Data Structue   M   13
 13    82.0   18  Data Structue   M   14
 14    82.0   21  Data Structue   F   15
 15    76.0   20  Data Structue   M   16
 16    25.0   18  Data Structue   M   17
 17    89.0   18  Data Structue   M   18
 18    85.0   18  Data Structue   M   19
 19    60.0   18  Data Structue   F   20
 20    76.0   18  Data Structue   M   21
 21    60.0   18  Data Structue   M   22
 22    69.0   18  Data Structue   M   23
 23    59.0   19  Data Structue   M   24
 24    85.0   20  Data Structue   F   25
 25    85.0   18  Data Structue   M   26
 26    47.0   20  Data Structue   M   27
 27    85.0   20  Data Structue   M   28
 28    82.0   21  Data Structue   M   29
 29    79.0   19  Data Structue   F   30
 ..     ...  ...            ...  ..  ...
 569   59.0   19  Data Structue   F  570
 570   39.0   19  Data Structue   M  571
 571   76.0   20  Data Structue   M  572
 572   47.0   18  Data Structue   M  573
 573   79.0   18  Data Structue   M  574
 574   69.0   20  Data Structue   F  575
 575   79.0   21  Data Structue   M  576
 576   69.0   18  Data Structue   M  577
 577   79.0   19  Data Structue   M  578
 578   76.0   18  Data Structue   M  579
 579   59.0   21  Data Structue   F  580
 580   89.0   18  Data Structue   M  581
 581   85.0   20  Data Structue   M  582
 582   39.0   21  Data Structue   M  583
 583   89.0   18  Data Structue   M  584
 584   85.0   18  Data Structue   F  585
 585   47.0   20  Data Structue   M  586
 586   79.0   19  Data Structue   M  587
 587   39.0   18  Data Structue   M  588
 588   82.0   19  Data Structue   M  589
 589   76.0   20  Data Structue   F  590
 590   59.0   19  Data Structue   M  591
 591   82.0   19  Data Structue   M  592
 592   85.0   20  Data Structue   M  593
 593   82.0   19  Data Structue   M  594
 594   39.0   19  Data Structue   F  595
 595   69.0   18  Data Structue   M  596
 596   47.0   20  Data Structue   M  597
 597   69.0   20  Data Structue   M  598
 598    0.0   19  Data Structue   M  599

 [599 rows x 5 columns],      Score  Age  Subject Sex   ID
 0     84.0   18  Physics   M    1
 1     81.0   19  Physics   M    2
 2     41.0   19  Physics   M    3
 3     78.0   18  Physics   M    4
 4     78.0   18  Physics   F    5
 5     91.0   20  Physics   M    6
 6     91.0   18  Physics   M    7
 7     61.0   19  Physics   M    8
 8     84.0   18  Physics   M    9
 9     84.0   19  Physics   F   10
 10    49.0   20  Physics   M   11
 11    49.0   20  Physics   M   12
 12    62.0   19  Physics   M   13
 13    84.0   18  Physics   M   14
 14    84.0   21  Physics   F   15
 15    78.0   20  Physics   M   16
 16     0.0   18  Physics   M   17
 17    91.0   18  Physics   M   18
 18    87.0   18  Physics   M   19
 19    62.0   18  Physics   F   20
 20    78.0   18  Physics   M   21
 21    62.0   18  Physics   M   22
 22    71.0   18  Physics   M   23
 23    61.0   19  Physics   M   24
 24    87.0   20  Physics   F   25
 25    87.0   18  Physics   M   26
 26    49.0   20  Physics   M   27
 27    87.0   20  Physics   M   28
 28    84.0   21  Physics   M   29
 29    81.0   19  Physics   F   30
 ..     ...  ...      ...  ..  ...
 569   61.0   19  Physics   F  570
 570   41.0   19  Physics   M  571
 571   78.0   20  Physics   M  572
 572   49.0   18  Physics   M  573
 573   81.0   18  Physics   M  574
 574   71.0   20  Physics   F  575
 575   81.0   21  Physics   M  576
 576   71.0   18  Physics   M  577
 577   81.0   19  Physics   M  578
 578   78.0   18  Physics   M  579
 579   61.0   21  Physics   F  580
 580   91.0   18  Physics   M  581
 581   87.0   20  Physics   M  582
 582   41.0   21  Physics   M  583
 583   91.0   18  Physics   M  584
 584   87.0   18  Physics   F  585
 585   49.0   20  Physics   M  586
 586   81.0   19  Physics   M  587
 587   41.0   18  Physics   M  588
 588   84.0   19  Physics   M  589
 589   78.0   20  Physics   F  590
 590   61.0   19  Physics   M  591
 591   84.0   19  Physics   M  592
 592   87.0   20  Physics   M  593
 593   84.0   19  Physics   M  594
 594   41.0   19  Physics   F  595
 595   71.0   18  Physics   M  596
 596   49.0   20  Physics   M  597
 597   71.0   20  Physics   M  598
 598   69.0   19  Physics   M  599

 [599 rows x 5 columns]]

In [10]:
# Convert Sex M to 1 and F to 2
for dataset in all_data:
    dataset['Sex'] = dataset['Sex'].map({'M': 1, 'F': 2}).astype(int)

In [11]:
all_data_df = pd.concat(all_data)
#all_data_df.to_csv('ScoreFinal.csv',index=False)

print ("Done")

Done

In [12]:
all_data_df.head()

   Score  Age Subject  Sex  ID
0   88.0   18   Maths    1   1
1   85.0   19   Maths    1   2
2   45.0   19   Maths    1   3
3   82.0   18   Maths    1   4
4   82.0   18   Maths    2   5